extends wiki

block menu
    li.active
        a(href='#') 설치중
block content
    script.
        $(function() {
            // to do
        });
        function form(){
            $('#txt_name').val() // 
        }
    .jumbotron
        h1 Deesle의 설치를 시작합니다!
        p 아래 정보를 정확히 입력해주세요.
    form
        .form-group
            label(for='email') 관리자 이메일 주소
            input#email.form-control(type='email', placeholder='이메일을 입력하세요')
        .form-group
            label(for='password') 관리자 암호
            input#password.form-control(type='password', placeholder='암호')
        .form-group
            label(for='url') MongoDB 주소
            input#url.form-control(type='url', placeholder='mongodb://127.0.0.1/deesle 형태로 작성')
        .form-group
            label(for='frontPage') 대문 이름
            input#frontPage.form-control(type='text', placeholder='문서명')
        button.btn.btn-default(onclick='form()') 제출
    